<h1> Edit </h1>

<%= form_for [@todo_list, @item] do |form| %>
  <p> 
    <%= form.label :content %>
    <%= form.text_field :content %>
  </p>
  
  <p>
    <%= form.label :status %>
    <%= form.check_box :status %>
  </p>
  
  <p>
    <%= form.submit "Save" %> 
  </p>
<% end %>