<h1><%= @todo_list.title %></h1>
<p>Find me in app/views/items/index.html.erb</p>

<ul class="items">
  <% @todo_list.items.each do |item| %>
    <li> <%= item.content %> 
    | <%= link_to "Edit", edit_todo_list_item_path(@todo_list, item) %> 
    | <%= link_to "Delete", todo_list_item_path(@todo_list, item), method: :delete, data: { confirm: 'Are you sure?' } %>
    | <%= link_to "Show", todo_list_item_path(@todo_list, item) %>
    </li>
  
  <% end %>
</ul>

<p>
  <%= link_to "New todo item", new_todo_list_item_path %>
</p>
