<%= form_for [@todo_list, @item] do |form| %>

 <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <p> 
    <%= form.label :content %>
    <%= form.text_field :content %>
  </p>
  
  <p>
    <%= form.label :status %>
    <%= form.check_box :status %>
  </p>
  
  <p>
    <%= form.submit "Save" %> 
  </p>
  
  
<% end %>